/* Write your CSS here */
.to-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.todo-description {
  font-size: 13px;
  color: #000000;
}
.todo-delete {
  color: #ff0b37;
  border: 1px solid #ff0b37;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
}
